<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0wfiZBD2K_h68inUbPj559D0tMfj3JJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>16659749453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>social.video.repost</string>
	<key>PROJECT_ID</key>
	<string>downloader-fe04e</string>
	<key>STORAGE_BUCKET</key>
	<string>downloader-fe04e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16659749453:ios:de820e863337f5ab6cda04</string>
</dict>
</plist>